.light-red {
	color: #c97071;
}
.medium-red {
	color: #ac4142;
}
.dark-red {
	color: #be2f31;
}
.light-green {
	color: #b2c38b;
}
.medium-green {
	color: #90a959;
}
.dark-green {
	color: #66783e;
}
.light-yellow {
	color: #fae0bc;
}
.medium-yellow {
	color: #f4bf75;
}
.dark-yellow {
	color: #ee9e2e;
}
.light-blue {
	color: #9dc0ce;
}
.medium-blue {
	color: #6a9fb5;
}
.dark-blue {
	color: #46788d;
}
.light-maroon {
	color: #be7953;
}
.medium-maroon {
	color: #8f5536;
}
.dark-maroon {
	color: #7c4426;
}
.light-purple {
	color: #c7a4c0;
}
.medium-purple {
	color: #aa759f;
}
.dark-purple {
	color: #825078;
}
.light-orange {
	color: #e1ad83;
}
.medium-orange {
	color: #d28445;
}
.dark-orange {
	color: #a35f27;
}
.light-cyan {
	color: #a7d0c9;
}
.medium-cyan {
	color: #75b5aa;
}
.dark-cyan {
	color: #4d9085;
}
.light-pink {
	color: #ff4ddb;
}
.medium-pink {
	color: #ff00cc;
}
.dark-pink {
	color: #cc00a3;
}
